/* ESTILO GERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #424141;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {

    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600px;
    color: #fff;
    background-color: #18778a;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-contato button2 {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600px;
    color: #fff;
    background-color: #188a1e;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;

}

h2.titulo span {
    color: #e5ebe5;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #08cad1;
    transform: scale(1.05);
}

/* ESTILO DO CABEÇALHO */

header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #7e7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #fff;
    transform: scale(1.1);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}


/* Estilo do topo do site */

section .topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 32px;
    line-height: 40px;
    
}

.topo-do-site .txt-topo-site h1 span {
    color: #4cb6e8;
}

.topo-do-site p {
    color: #fff;
    font-size: 12px;
    margin: 10px 0;
    
}

.topo-do-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

.image {
    max-width: 500px;
    border-radius: 5%;
}

.image {
    border-radius: 5%;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES*/
section.especialidades {
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover {

    transform: scale(1.05);
    box-shadow: 0 0 8px #fff;

}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: #18778a;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO SOBRE */

section.sobre {
    padding: 80px 4%;

}

section.sobre .flex {
    align-items: center;
    gap: 60px;

}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #18778a;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: #18778a;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;

}

/ESTILO DO PORTFÓLIO/

section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #181818;
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    transition: 5s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;

}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #060606a9;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600px;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

/* ESTILO DO FORMULARIO DE CONTATO */

section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* os itens vao ficar em coluna */
    gap: 10px;
    /* distsnciar os itens */
    margin-top: 40px;

}

form input,
form textarea {
    width: 100%;
    background-color: #4141414c;
    border: 0;
    outline: 0;
    /*para tirar a bordar ao clicar no item */
    padding: 20px 15px;
    /* espacamento interno */
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #18778a;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;

}